<div class="container">
<div id="you">
<h3><%=params[:question]%></h3>
<p>- <em>You</em></p>
</div>

<div id="coach">
<h3><%=@asnwer%></h3>
<p>- <em>Your Coach</em></p>
</div>

<%= link_to "Ask Again", ask_path %>
</div>
